@import url('https://fonts.googleapis.com/css?family=Lato');

* {
    box-sizing: border-box;
    color: white;
    font-family: Lato, sans-serif;
}

:root {
    --dark-orange: #e3890f;
    --light-orange: #ff9c17;
}

.App {
    background: url(joao-silas-65013-unsplash.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
}

.flashCard {
    background-color: rgba(255, 255, 255, .95);
    /*max-width: 65vw; */
    /*max-height: 40vh; */
    font-size: 5vh;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, .07);
    border: 5px solid var(--light-orange);
    border-radius: 10px;
    padding: 2px 10px;
    color: black;
    margin-bottom: 5vh;
}

.btn-topics {
    font-size: 3vh;
    border-radius: 20px;
    padding: 1vh 1vw;
    border: 2px solid var(--light-orange); 
    display: inline;
    margin: 10px;
    transition: background-color .5s, border .2s; 
    max-height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-topics:hover {
    cursor: pointer;
    background-color: var(--dark-orange);
    border: 2px solid var(--dark-orange);
}

i {
    padding-left: 5px;
}

i:hover {
    cursor: pointer;
    color: black;
}

.button-sml {
    background-color: var(--light-orange);
    border-radius: 20px;
    padding: 5px 0px;
    margin: 0px 10px;
    font-size: 2.5vh;
    transition: all .5s;
}

.button-lg {
    background-color: var(--light-orange);
    border-radius: 30px;
    font-size: 4vh;
    transition: all .5s;
}

.button-sml:hover, 
.button-lg:hover {
    cursor: pointer;
    background-color: var(--dark-orange);
    transform: scale(1.06);
}

.row1 {
    height: 25vh;
}

.row2 {
    min-height: 45vh;
    display: flex;
    justify-content: center;
}

.row3 {
    display: flex; 
    align-items: center;
    justify-content: center;
}

.row4 {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

